/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Additional reset styles if needed */
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Optional global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}


/* Sidebar */
.dash-logo{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 13px;
   margin-top: 10px;
   margin-bottom: 30px;
   margin-left: 22px;
}

.text-logo{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}

.ant-layout-sider-children {
    padding: 0px 16px;
    margin-right: -16px;
 }

.ant-menu-root {
    border-inline-end: none !important;
}

.ant-menu-item-selected {
    background-color: transparent !important;
    color: inherit !important;
    border-right: 4px solid #000000;
    border-radius: 0 !important;
}
/* Navbar */
/* Main Content */
/* Dashboard */