.dash-logo{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 13px;
   margin-top: 10px;
   margin-bottom: 30px;
   margin-left: 22px;
}
.text-logo{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}